/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Muller';
    src: url('MullerRegular.eot');
    src: url('MullerRegular.eot?#iefix') format('embedded-opentype'), url('MullerRegular.woff2') format('woff2'), url('MullerRegular.woff') format('woff'), url('MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('fonts/UniNeueHeavy.eot');
    src: url('fonts/UniNeueHeavy.eot?#iefix') format('embedded-opentype'), url('fonts/UniNeueHeavy.woff2') format('woff2'), url('fonts/UniNeueHeavy.woff') format('woff'), url('fonts/UniNeueHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('fonts/UniNeueBold.eot');
    src: url('fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'), url('fonts/UniNeueBold.woff2') format('woff2'), url('fonts/UniNeueBold.woff') format('woff'), url('fonts/UniNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('fonts/UniNeueBlack.eot');
    src: url('fonts/UniNeueBlack.eot?#iefix') format('embedded-opentype'), url('fonts/UniNeueBlack.woff2') format('woff2'), url('fonts/UniNeueBlack.woff') format('woff'), url('fonts/UniNeueBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('fonts/UniNeueRegular.eot');
    src: url('fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'), url('fonts/UniNeueRegular.woff2') format('woff2'), url('fonts/UniNeueRegular.woff') format('woff'), url('fonts/UniNeueRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-Regular.woff2') format('woff2'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*************************GLOBAL PROPERTY*************************/

body {
    color: #ffffff;
}
* {
    outline: 0;
}
a {
    color: white;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*-------------------------INDEX------------------------*/


/*************************HEADER*************************/
.select2-container--default .select2-selection--single {
    width: 100% !important;
}
.main-header {
    position: fixed;
    z-index: 2;
    width: 100%;
    min-height: 130px;
    background-color: #6bc9bd;
}
.main-header-js {
    background-color: #2c2c2c;
}
.main-header>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.main-logo {
    margin-right: 301px;
    padding-top: 35px;
}

.site-navigation {
    margin-right: 94px;
}

.site-navigation input {
    display: none;
}
.menu-phone {
    display: none;
}
.navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 40px;
}

.navigation-item {
    text-transform: uppercase;
    font-size: 18px;
}

.navigation-item a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.navigation-item:nth-child(odd) {
    font-family: "UniNeue", sans-serif;
    font-weight: bold;
}

.navigation-item:nth-child(even) {
    font-family: "Myriad Pro", sans-serif;
}

.navigation-item:not(:last-child)::after {
    content: "/";
    font-family: "Myriad Pro";
    padding-left: 23px;
    padding-right: 23px;
    font-weight: bold;
}

.navigation-item a:hover:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.5;
    bottom: 0px;
}

.navigation-item a:hover {
    font-weight: bold;
    cursor: url(images/cursor_pointer.png), pointer;
}
.swiper-button-next:after{
    content:url(images/arrow-right.png)!important;
}
.swiper-button-prev:after{
    content:url(images/arrow-left.png)!important;
}
.swiper-pagination-bullet {
    outline: 0;
}
.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin-top: 40px;
}

.social-list li:not(:last-child) {
    margin-right: 29px;
}

.social-facebook {
    padding-right: 15px;
    padding-bottom: 25px;
    background-image: url(images/fb-icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-facebook:hover {
    background-image: url(images/fb-icon-hover.png);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    cursor: url(images/cursor_pointer.png), pointer;
}

.social-vkontakte {
    padding-right: 35px;
    padding-bottom: 30px;
    background-image: url(images/vk-icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-vkontakte:hover {
    background-image: url(images/vk-icon-hover.png);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    cursor: url(images/cursor_pointer.png), pointer;
}
.social-facebook-scroll-js {
    background-image: url(images/fb-icon-scroll.png) !important;
} 
.social-facebook-standart-js {
    background-image: url(images/fb-icon.png) !important;
} 
.social-vkontakte-scroll-js {
    background-image: url(images/vk-icon-scroll.png) !important;
} 
.social-vkontakte-standart-js {
    background-image: url(images/vk-icon.png) !important;
}
.social-facebook-hover-js {
    background-image: url(images/fb-icon-hover.png) !important;
}
.social-vkontakte-hover-js {
    background-image: url(images/vk-icon-hover.png) !important;
} 
/*************************MAIN*************************/

.main-section {
    padding-top: 130px;
}

.carousel {
    position: relative;
    min-height: 850px;
    background-image: url(content/background-carousel.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.carousel::before {
    content: " ";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
}

.carousel .swiper-container {
    height: 535px;
    width: 1140px;
    padding-top: 104px;
    margin-bottom: 57px;
}

.swiper-slide::before {
    content: " ";
    position: absolute;
    width: 463px;
    height: 463px;
    background-color: #6bc9bd;
    border-radius: 50%;
    opacity: 0.5;
    z-index: -1;
    left: 30%;
}

.swiper-slide-1 h1 {
    font-family: "Uni Neue", sans-serif;
    font-size: 120px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;
    width: 895px;
    margin-bottom: 42px;
}

.swiper-slide-2 h2 {
    font-family: "Uni Neue", sans-serif;
    font-size: 120px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;
    width: 895px;
    margin-bottom: 42px;
}

.swiper-slide-3 h3 {
    font-family: "Uni Neue", sans-serif;
    font-size: 120px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;
    width: 895px;
    margin-bottom: 42px;
}

.swiper-slide-1 p {
    font-family: "Uni Neue", sans-serif;
    font-size: 20px;
    line-height: 48px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    width: 845px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide-2 p {
    font-family: "Uni Neue", sans-serif;
    font-size: 20px;
    line-height: 48px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    width: 845px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide-3 p {
    font-family: "Uni Neue", sans-serif;
    font-size: 20px;
    line-height: 48px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    width: 845px;
    margin-left: auto;
    margin-right: auto;
}

.modal-login {
    font-family: "Uni Neue", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 1.2px;
    z-index: 1;
    position: relative;
    background-color: transparent;
    border: 0px;
    color: #ffffff;
    text-align: center;
    width: 259px;
    left: 50%;
    margin-left: -110px;
}
.modal-login:hover {
    font-size: 28px;
    letter-spacing: 1.4px;
    width: 300px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-left: -130px;
    cursor: url(images/cursor_pointer.png), pointer;
}

.modal-login:hover::before {
    width: 300px;
    top: 15px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.modal-login::before {
    content: " ";
    position: absolute;
    width: 259px;
    height: 10px;
    background-color: #6bc9bd;
    opacity: 0.5;
    top: 11px;
    right: -8px;
    z-index: -1;
}

.dividing-line {
    content: " ";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #6bc9bd;
}


/*---------*/

.about-us {
    position: relative;
    min-height: 715px;
    background-image: url(content/background-about-us.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: 1px solid transparent;
    margin-top: -61px;
}

.about-us::before {
    content: " ";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: 1;
}

.about-us>div {
    position: relative;
    z-index: 1;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.about-us>div::before {
    content: " ";
    position: absolute;
    width: 263px;
    height: 371px;
    background-image: url(content/background-about-us-2.png);
    background-repeat: no-repeat;
    top: 197px;
    right: 0px;
}

.about-us div h4 {
    font-family: "Uni Neue", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 48px;
    color: white;
    padding-top: 197px;
    margin-bottom: 60px;
}

.about-us div p {
    font-family: "Uni Neue", sans-serif;
    font-weight: bold;
    line-height: 36px;
    font-size: 24px;
    color: white;
    width: 700px;
}


/*-----------*/

.our-suggestions {
    background-color: #2c2c2c;
    margin-top: -97px;
    min-height: 900px;
}

.our-suggestions h5 {
    font-family: "Uni Neue", sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
    margin-bottom: 61px;
}

.accordion {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 87px;
}

.platform>p {
    font-family: "Uni Neue", sans-serif;
    font-weight: 500;
    font-size: 30px;
    width: 391px;
    min-height: 60px;
    text-align: right;
    padding-top: 15px;
    margin-left: 31px;
    position: relative;
}

.plus-minus {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 60px;
    width: 60px;
    background-color: #6bc9bd;
    border-radius: 50%;
    cursor: pointer;
    outline: 0;
}

.plus-minus::before {
    content: " ";
    position: absolute;
    top: 26px;
    left: 17px;
    width: 28px;
    height: 6px;
    background-color: #2c2c2c;
}

.plus-minus::after {
    content: " ";
    position: absolute;
    width: 28px;
    height: 6px;
    top: 26px;
    left: 17px;
    background-color: #2c2c2c;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.plus-minus:checked::after {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.platform>p:hover {
    background-repeat: no-repeat;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    cursor: url(images/cursor_pointer.png), pointer;
}

.platform {
    border: 1px solid #6bc9bd;
    min-height: 121px;
}

.platform:not(:last-child) {
    border-bottom: 0px solid;
}

.js-platform-description {
    display: none;
}

.platform-description > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 131px;
    padding-bottom: 20px;
}

.platform-description-1 {
    margin-right: 158px;
}

div[class^="platform-description-"] p {
    font-family: "Uni Neue", sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}

div[class^="platform-description-"] p span {
    font-family: "Uni Neue", sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-transform: none;
    padding-left: 25px;
}

.phone {
    display: none;
}

.platform-description .modal-login {
    font-family: "Uni Neue", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 1.2px;
    z-index: 1;
    position: relative;
    background-color: transparent;
    border: 0px;
    color: #ffffff;
    text-align: center;
    width: 250px;
    margin-left: -125px;
    margin-bottom: 60px;
}

.modal-login-container {
    width: 250px;
}

.platform-description .modal-login:hover {
    font-size: 28px;
    letter-spacing: 1.4px;
    width: 300px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    margin-left: -150px;
    cursor: url(images/cursor_pointer.png), pointer;
}

.platform-description .modal-login:hover::before {
    width: 300px;
    top: 18px;
    right: 0px;
    margin-left: 0px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.platform-description .modal-login::before {
    content: " ";
    position: absolute;
    width: 250px;
    height: 10px;
    background-color: #6bc9bd;
    opacity: 0.5;
    top: 18px;
    right: 0px;
    z-index: -1;
}


/*---------*/

.request-section {
    background-image: url(content/background-request.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 1042px;
    margin-top: -137px;
}

.request-section h6 {
    font-family: "Uni Neue", sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    margin-bottom: 56px;
}

.background-form {
    width: 552px;
    height: 822px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2c2c2c;
    border: 1px solid #6bc9bd;
}

.form-application {
    width: 418px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 42px;
}

.form-application fieldset {
    font-family: "Uni Neue", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 18px;
    padding: 0px;
    margin-left: 0px;
}

.form-application fieldset legend {
    margin-bottom: 10px;
}

fieldset[class^="input-"] {
    border: 0px;
}

fieldset[class^="input-"] input {
    background-color: #2c2c2c;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.input-name input {
    font-family: "Uni Neue", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.2);
    padding-left: 23px;
    width: 391px;
    height: 46px;
    outline: 0;
}

.input-tel input {
    padding-left: 23px;
    width: 391px;
    height: 46px;
    outline: 0;
}

.input-email input {
    padding-left: 23px;
    width: 391px;
    height: 46px;
    outline: 0;
}

.input-sentence select {
    padding-left: 23px;
    width: 418px;
    height: 52px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    outline: 0 !important;
}
.select2-selection, .select2-selection--single {
    height: 48px !important;
}
.select2-selection {
    border: 0px !important;
}
.select2-results__option {
    border: 1px solid transparent;
}
.select2-results__option:hover {
    border: 1px solid #6bc9bd;
}
.select2-results__options {
    font-family: "Uni Neue", sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.select2-selection__rendered {
    color: white !important;
    border: 1px solid white;
    background-color: #2c2c2c;
    width: 388px;
    height: 48px;
    line-height: 48px !important;
}
.select2-selection__arrow b {
    margin-top: 10px !important;
}
.select2-results__options {
    background-color: #2c2c2c;
}
.select2-search {
    display: none !important;
}
.input-floor label {
    cursor: url(images/cursor_pointer.png), pointer;
}
.input-floor label input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    height: 25px;
    width: 25px;
    border: 1px solid #6bc9bd;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    margin-right: 16px;
    outline: 0px;
    cursor: url(images/cursor_pointer.png), pointer;
}

.input-floor label input:checked:before {
    content: " ";
    position: absolute;
    background-color: #ffffff;
    left: 50%;
    top: 50%;
    margin-left: -3.5px;
    margin-top: -4px;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

.input-floor label:not(:last-child) {
    margin-right: 34px;
}

fieldset[class^="input-"] textarea {
    width: 391px;
    height: 100px;
    background-color: #2c2c2c;
    padding-left: 23px;
    padding-top: 12px;
    resize: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    outline: 0px;
}

.consent-input {
    position: relative;
    font-family: "Uni Neue", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.consent-input input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    height: 25px;
    width: 25px;
    border: 1px solid #6bc9bd;
    color: #fff;
    cursor: pointer;
    margin-right: 16px;
    outline: none;
}

.consent-input input:checked {
    background-image: url(images/checked.png);
    background-repeat: no-repeat;
    background-position: 50% center;
}


/*Validatiom-form*/

fieldset {
    position: relative;
}

#tel-error {
    font-family: "UniNeue", sans-serif;
    font-weight: 500;
    display: block;
    font-size: 14px;
    color: red;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

#name-error {
    font-family: "UniNeue", sans-serif;
    font-weight: 500;
    display: block;
    font-size: 14px;
    color: red;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

#E-mail-error {
    font-family: "UniNeue", sans-serif;
    font-weight: 500;
    display: block;
    font-size: 14px;
    color: red;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

#sentense-error {
    font-family: "UniNeue", sans-serif;
    font-weight: 500;
    display: block;
    font-size: 14px;
    color: red;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

#floor-error {
    font-family: "UniNeue", sans-serif;
    font-weight: 500;
    display: block;
    font-size: 14px;
    color: red;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

#comment-error {
    font-family: "UniNeue", sans-serif;
    font-weight: 500;
    display: block;
    font-size: 14px;
    color: red;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

#consent-error {
    font-family: "UniNeue", sans-serif;
    font-weight: 500;
    display: block;
    font-size: 14px;
    color: red;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

#password-error {
    font-family: "UniNeue", sans-serif;
    font-weight: 500;
    display: block;
    font-size: 14px;
    color: red;
    top: 0;
    left: 0;
    right: 0;
}

#login-error {
    font-family: "UniNeue", sans-serif;
    font-weight: 500;
    display: block;
    font-size: 14px;
    color: red;
    top: 0;
    left: 0;
    right: 0;
}


/*Validatiom-form^*/
.form-button {
    margin-top: 35px;
    width: 259px;
    margin-left: auto;
    margin-right: auto;
}
.form-button button:hover {
    font-size: 28px;
    letter-spacing: 1.4px;
    width: 300px;
    transition: 0.7s;
    margin-left: -20px;
    cursor: url(images/cursor_pointer.png), pointer;
}
.form-button button:hover::before {
    width: 300px;
    transition: 0.7s;
}
.form-button button {
    font-family: "Uni Neue", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 1.2px;
    z-index: 1;
    position: relative;
    background-color: transparent;
    border: 0px;
    color: #ffffff;
    text-align: center;
    width: 259px;
    outline: 0;
}
.form-button button::before {
    content: " ";
    position: absolute;
    width: 259px;
    height: 10px;
    background-color: #6bc9bd;
    opacity: 0.5;
    top: 19.5px;
    right: 0px;
    z-index: -1;
}
/*-----------*/

.contact-section {
    background-color: #2c2c2c;
    margin-top: 3px;
    min-height: 464px;
}

.contact-section>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1140px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.contact-section div h6 {
    padding-top: 66px;
    margin-top: 0px;
    font-family: "Uni Neue", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 54px;
}

.contact-list {
    list-style: none;
    padding-left: 0px;
}
.contact-item-address address {
    font-style: normal;
}
li[class^="contact-item-"] {
    padding-left: 61px;
    margin-bottom: 43px;
}

li[class^="contact-item-address"] {
    font-family: "Muller", sans-serif;
    font-size: 18px;
    font-style: normal;
    width: 241px;
    height: 41px;
    background-image: url(images/pin.svg);
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

li[class^="contact-item-tel"] {
    font-family: "Muller", sans-serif;
    font-size: 18px;
    width: 241px;
    height: 41px;
    background-image: url(images/phone.svg);
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

li[class^="contact-item-email"] {
    font-family: "Muller", sans-serif;
    font-size: 18px;
    width: 241px;
    height: 41px;
    background-image: url(images/mail.svg);
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#map {
    width: 746px;
    height: 464px;
}


/*----------*/

.main-footer {
    background-color: #6bc9bd;
    min-height: 127px;
}

.centering-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.logo-footer {
    padding-top: 33px;
}

.authorship {
    font-family: "Muller", sans-serif;
    font-size: 18px;
    padding-top: 36px;
}

.tablet-br {
    display: none;
}

.social-list-tablet {
    display: none;
}

.background-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 98;
    display: none;
    width: 100%;
}

.background-modal:target {
    display: block !important;
}

.background-login {
    width: 553px;
    height: 456px;
    background-color: #2c2c2c;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #6bc9bd;
    margin-top: 5%;
    position: relative;
}

.background-login h2 {
    font-family: "Uni Neue", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    padding-top: 50px;
    margin-bottom: 31px;
}

.form-login {
    width: 418px;
    height: 255px;
    margin-left: auto;
    margin-right: auto;
}

.form-login fieldset {
    border: 0px;
    margin-bottom: 5px;
    padding-left: 0px;
}

.form-login fieldset legend {
    font-family: "Uni Neue", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}

.form-login fieldset input {
    font-family: "Uni Neue", sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 389px;
    height: 46px;
    padding-left: 23px;
    border: 1px solid white;
    background-color: #2c2c2c;
    color: white;
    outline: 0;
}

.form-login button {
    font-family: "Uni Neue", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    width: 164px;
    border: 0px;
    color: white;
    background-color: transparent;
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 201, 189, 0.5)), to(rgba(107, 201, 189, 0.5)));
    background-image: -o-linear-gradient(rgba(107, 201, 189, 0.5), rgba(107, 201, 189, 0.5));
    background-image: linear-gradient(rgba(107, 201, 189, 0.5), rgba(107, 201, 189, 0.5));
    background-repeat: no-repeat;
    background-size: 100% 10px;
    background-position: left center;
    margin-top: 35px;
}

.form-login button:hover {
    font-size: 30px;
    letter-spacing: 1.4px;
    width: 210px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    margin-left: -25px;
    cursor: url(images/cursor_pointer.png), pointer;
}

.modal-button {
    width: 164px;
    margin-left: auto;
    margin-right: auto;
}

.close-modal {
    content: " ";
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: #6bc9bd;
    border-radius: 2.4px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 18px;
}

.close-modal::before {
    content: " ";
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: #6bc9bd;
    border-radius: 2.4px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 0px;
}

@media screen and (max-width: 1280px) {
    .main-header {
        min-height: 114px;
    }
    .main-header>div {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .main-logo {
        padding-top: 38px;
        margin-right: 0px;
        margin-left: 30px;
    }
    .main-logo img {
        width: 220px;
        height: 50px;
    }
    .site-navigation {
        margin-right: 30px;
    }
    .site-navigation input {
        display: none;
    }
    .social-list {
        display: none;
    }
    /*---------*/
    .carousel {
        min-height: 405px;
        margin-top: -16px;
    }
    .carousel .swiper-container {
        height: 264px;
        width: 100%;
        padding-top: 39px;
        margin-bottom: 30px;
    }
    .swiper-button-next {
        right: 30px !important;
    }
    .swiper-button-prev {
        left: 30px !important;
    }
    .swiper-slide-1 h1 {
        font-size: 72px;
        width: 545px;
        margin-bottom: 37px;
        margin-top: -12px;
    }
    .swiper-slide-2 h2 {
        font-size: 72px;
        width: 545px;
        margin-bottom: 37px;
        margin-top: -12px;
    }
    .swiper-slide-3 h3 {
        font-size: 72px;
        width: 545px;
        margin-bottom: 37px;
        margin-top: -12px;
    }
    .swiper-slide-1 p {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.8px;
        width: 470px;
    }
    .swiper-slide-2 p {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.8px;
        width: 470px;
    }
    .swiper-slide-3 p {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.8px;
        width: 470px;
    }
    .swiper-pagination-bullet {
        width: 11px !important;
        height: 11px !important;
    }
    .swiper-slide::before {
        width: 264px;
        height: 264px;
        left: 50%;
        margin-left: -130px;
    }
    /*---------*/
    .about-us {
        min-height: 467px;
        margin-top: -36px;
    }
    .about-us>div {
        width: 100%;
    }
    .about-us>div::before {
        top: 46px;
        right: 30px;
    }
    .about-us div h4 {
        font-size: 30px;
        padding-top: 70px;
        padding-left: 30px;
    }
    .about-us div p {
        line-height: 30px;
        font-size: 18px;
        width: 50%;
        padding-left: 30px;
    }
    /*---------*/
    .our-suggestions {
        background-color: #2c2c2c;
        margin-top: -57px;
        min-height: 972px;
    }
    .our-suggestions h5 {
        font-family: "Uni Neue", sans-serif;
        font-weight: 900;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        width: 707px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 39px;
        margin-bottom: 40px;
    }
    .accordion {
        width: 100%;
        padding-bottom: 37px;
    }
    .platform {
        margin-right: 30px;
        margin-left: 30px;
    }
    .plus-minus {
        top: 10px;
    }
    .plus-minus:checked::after {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
    .platform>p {
        font-size: 24px;
        width: 340px;
        background-position-y: 20%;
        padding-top: 25px;
    }
    .platform-description>div {
        margin-bottom: 0px;
    }
    .platform-description-1 {
        margin-right: 62px;
    }
    div[class^="platform-description-"] p {
        font-size: 18px;
    }
    div[class^="platform-description-"] p span {
        font-size: 18px;
        padding-left: 42px;
    }
    .platform-description .modal-login {
        font-family: "Uni Neue", sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 48px;
        letter-spacing: 1.2px;
        z-index: 1;
        position: relative;
        background-color: transparent;
        border: 0px;
        color: #ffffff;
        text-align: center;
        width: 250px;
        margin-left: -125px;
        margin-bottom: 60px;
    }
    .modal-login-container {
        width: 250px;
    }
    .platform-description .modal-login:hover {
        font-size: 28px;
        letter-spacing: 1.4px;
        width: 300px;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        margin-left: -150px;
        cursor: url(images/cursor_pointer.png), pointer;
    }
    .platform-description .modal-login:hover::before {
        width: 300px;
        top: 18px;
        right: 0px;
        margin-left: 0px;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
    }
    .platform-description .modal-login::before {
        content: " ";
        position: absolute;
        width: 250px;
        height: 10px;
        background-color: #6bc9bd;
        opacity: 0.5;
        top: 18px;
        right: 0px;
        z-index: -1;
    }
    /*---------*/
    .request-section {
        min-height: 920px;
        margin-top: -67px;
    }
    .request-section h6 {
        font-size: 30px;
        width: 707px;
        padding-top: 25px;
        margin-bottom: 25px;
    }
    .form-application {
        width: 416px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 19px;
    }
    .background-form {
        width: 507px;
        height: 770px;
    }
    .form-application fieldset {
        font-size: 16px;
    }
    .form-application fieldset legend {
        margin-bottom: 10px;
    }
    .input-name input {
        font-size: 16px;
        padding-left: 21px;
        width: 393px;
        height: 43px;
    }
    .input-tel input {
        font-size: 16px;
        padding-left: 21px;
        width: 393px;
        height: 43px;
    }
    .input-email input {
        font-size: 16px;
        padding-left: 21px;
        width: 393px;
        height: 43px;
    }
    .input-sentence select {
        font-size: 16px;
        padding-left: 21px;
        width: 418px;
        height: 43px;
    }
    .select2-results__options {
        font-size: 16px;
    }
    .select2-selection, .select2-selection--single {
        height: 45px !important;
    }
    .select2-selection__rendered {
        height: 45px;
        line-height: 40px !important;
    }
    .select2-selection__arrow b {
        margin-top: 8px !important;
    }
    fieldset[class^="input-"] textarea {
        width: 393px;
        height: 100px;
    }
    .form-button {
        margin-top: 34px;
        width: 195px;
    }
    .form-button button:hover {
        margin-left: -50px;
    }
    .form-button button:hover::before {
        width: 300px;
        transition: 0.7s;
    }
    .form-button button {
        font-size: 18px;
        line-height: 48px;
        letter-spacing: 0.9px;
        width: 195px;
    }
    .form-button button::before {
        width: 195px;
    }
    /*-----------*/
    .contact-section {
        background-color: #2c2c2c;
        margin-top: 3px;
        min-height: 367px;
    }
    .contact-section>div {
        width: 100%;
    }
    .contact-section div h6 {
        padding-top: 66px;
        margin-top: 0px;
        font-size: 30px;
        margin-bottom: 39px;
    }
    .contact {
        padding-left: 30px;
    }
    li[class^="contact-item-"] {
        padding-left: 62px;
        margin-bottom: 19px;
        width: 200px;
        font-size: 16px;
    }
    #map {
        width: 50%;
        height: 367px;
    }
    /*----------*/
    .main-footer {
        min-height: 115px;
    }
    .centering-footer {
        width: 100%;
    }
    .logo-footer {
        padding-top: 33px;
        padding-left: 30px;
    }
    .logo-footer img {
        width: 220px;
        height: 50px;
    }
    .social-list-tablet {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        padding-left: 0px;
        margin-top: 35px;
    }
    .social-list-tablet li:not(:last-child) {
        margin-right: 24px;
    }
    .authorship {
        font-family: "Uni Neue", sans-serif;
        font-weight: 500;
        font-size: 16px;
        padding-top: 26px;
        text-align: right;
        width: 230px;
        padding-right: 30px;
    }
    .tablet-br {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .main-header {
        min-height: 75px;
        width: 100%;
    }
    .main-header>div {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 20px;
    }
    .main-logo {
        padding-top: 20px;
        padding-left: 30px;
        margin-left: 0px;
        padding-bottom: 20px;
    }
    .main-logo img {
        width: 153px;
        height: 35px;
    }
    .site-navigation {
        max-width: 0px;
        margin-right: 0px;
    }
    .menu-phone {
        content: " ";
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        right: 20px;
        top: 24px;
        opacity: 0;
        background-color: black;
    }
    .site-navigation input {
        display: block;
    }
    .site-navigation input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: absolute;
        top: 26px;
        right: 20px;
        height: 5px;
        width: 30px;
        background-color: white;
        border-radius: 2.4px;
        outline: 0;
    }
    .site-navigation input::before {
        content: " ";
        position: absolute;
        top: 10px;
        height: 5px;
        width: 30px;
        background-color: white;
        border-radius: 2.4px;
    }
    .site-navigation input::after {
        content: " ";
        position: absolute;
        top: 20px;
        height: 5px;
        width: 30px;
        background-color: white;
        border-radius: 2.4px;
    }
    .site-navigation input:checked {
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        margin-top: 8px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .site-navigation input:checked::before {
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        top: 0px;
        -webkit-transform: translateX(1000px);
        -ms-transform: translateX(1000px);
        transform: translateX(1000px);
    }
    .site-navigation input:checked::after {
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        top: 0px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .main-header div {
        max-height: 35px;
    }
    .navigation-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 31px;
        background-color: #2c2c2c;
        margin: 0px;
        -webkit-transform: translateY(1000px);
        -ms-transform: translateY(1000px);
        transform: translateY(1000px);
        -webkit-transition-duration: 0.7s;
        -o-transition-duration: 0.7s;
        transition-duration: 0.7s;
    }
    .navigation-item {
        text-transform: uppercase;
        font-size: 18px;
        margin-left: 22px;
    }
    .navigation-item a:hover {
        color: #6bc9bd;
    }
    .navigation-item:not(:last-child) {
        margin-bottom: 31px;
    }
    .navigation-item:last-child {
        margin-bottom: 0px;
    }
    .navigation-item:nth-child(even) {
        font-family: "UniNeue", sans-serif;
        font-weight: bold;
    }
    .navigation-item:not(:last-child)::after {
        display: none;
    }
    .social-list {
        display: block;
        -webkit-transform: translateX(1000px);
        -ms-transform: translateX(1000px);
        transform: translateX(1000px);
        -webkit-transition-duration: 0.7s;
        -o-transition-duration: 0.7s;
        transition-duration: 0.7s;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background-color: #2c2c2c;
        margin: 0px;
        margin-top: -1px;
        padding-left: 18px;
        padding-top: 10px;
        padding-bottom: 48px;
        border: 2px solid #2c2c2c;
    }
    .social-list li:not(:last-child) {
        margin-right: 0px;
    }
    .social-item {
        width: 30px;
        display: inline;
    }
    .social-facebook {
        background-size: 10px 20px;
    }
    .social-facebook:hover {
        background-image: url(images/fb-icon-scroll.png);
    }
    .social-vkontakte:hover {
        background-image: url(images/vk-icon-scroll.png);
    }
    .social-vkontakte {
        background-size: 23px 13px;
    }
    /*---------*/
    .carousel {
        min-height: 263px;
        margin-top: -55px;
    }
    .carousel .swiper-container {
        height: 200px;
        width: 280px;
        padding-top: 13px;
        margin-bottom: 0px;
    }
    .swiper-slide-1 h1 {
        font-size: 36px;
        width: 270px;
        margin-bottom: 37px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .swiper-slide-2 h2 {
        font-size: 36px;
        width: 270px;
        margin-bottom: 37px;
        margin-top: 0px;
    }
    .swiper-slide-3 h3 {
        font-size: 36px;
        width: 545px;
        margin-bottom: 37px;
        margin-top: 0px;
    }
    .swiper-slide-1 p {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.6px;
        width: 275px;
    }
    .swiper-slide-2 p {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.6px;
        width: 275px;
    }
    .swiper-slide-3 p {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.6px;
        width: 275px;
    }
    .swiper-pagination-bullet {
        width: 11px !important;
        height: 11px !important;
    }
    .swiper-button-next {
        display: none !important;
    }
    .swiper-button-prev {
        display: none !important;
    }
    .modal-login {
        font-size: 14px;
        line-height: 48px;
        letter-spacing: 0.7px;
        width: 153px;
        margin-left: -65px;
        margin-top: -5px;
    }
    .modal-login::before {
        width: 160px;
        height: 6px;
        top: 6px;
    }
    .modal-login:hover {
        font-size: 19px;
        letter-spacing: 0.7px;
        width: 200px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        margin-left: -100px;
        cursor: url(images/cursor_pointer.png), pointer;
    }
    .modal-login:hover::before {
        width: 200px;
        top: 10px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    .swiper-slide::before {
        width: 200px;
        height: 200px;
        left: 60%;
    }
    /*---------*/
    .about-us {
        min-height: 254px;
        margin-top: -29px;
    }
    .about-us>div {
        position: relative;
        z-index: 1;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }
    .about-us>div::before {
        display: none;
    }
    .about-us div h4 {
        font-size: 24px;
        padding-top: 34px;
        margin-bottom: 20px;
    }
    .about-us div p {
        line-height: 18px;
        font-size: 12px;
        width: 90%;
    }
    /*-----------*/
    .our-suggestions {
        background-color: #2c2c2c;
        margin-top: -37px;
        min-height: 450px;
    }
    .our-suggestions h5 {
        font-size: 24px;
        width: 280px;
        padding-top: 25px;
        margin-bottom: 25px;
    }
    .accordion {
        width: 100%;
        padding-bottom: 31px;
    }
    .phone {
        display: block;
    }
    .platform:last-child {
        display: none;
    }
    .platform>p {
        font-size: 16px;
        width: 200px;
        min-height: 26px;
        background-size: 26px 26px;
        padding-top: 5px;
        margin-left: 16px;
        margin-bottom: 0px;
    }
    .platform {
        border: 1px solid #6bc9bd;
        min-height: 56px;
    }
    .plus-minus {
        top: 2px;
        height: 26px;
        width: 26px;
    }
    .plus-minus::before {
        top: 11px;
        left: 5px;
        width: 16px;
        height: 3px;
    }
    .plus-minus::after {
        width: 16px;
        height: 3px;
        top: 11px;
        left: 5px;
    }
    .plus-minus:checked::after {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
    .platform:nth-child(4) {
        border-bottom: 1px solid #6bc9bd;
    }
    .platform-description>div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 53px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .dekstop-tablet {
        display: none;
    }
    .platform-description-1 {
        margin-right: 0px;
    }
    div[class^="platform-description-"] p {
        font-size: 14px;
        margin-bottom: 2px;
        text-transform: none;
    }
    div[class^="platform-description-"] p span {
        font-size: 14px;
        padding-left: 8px;
    }
    .platform-description .modal-login {
        font-size: 14px;
        line-height: 48px;
        letter-spacing: 0.7px;
        width: 141px;
        margin-left: -50px;
        margin-bottom: 0px;
    }
    .modal-login-container {
        width: 100px;
    }
    .platform-description .modal-login:hover {
        font-size: 18px;
        letter-spacing: 0.7px;
        width: 141px;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        margin-left: -55px;
        cursor: url(images/cursor_pointer.png), pointer;
    }
    .platform-description .modal-login:hover::before {
        width: 180px;
        top: 21px;
        right: -30px;
        margin-left: 0px;
    }
    .platform-description .modal-login::before {
        width: 141px;
        height: 6px;
        top: 20px;
        right: 0px;
    }
    /*---------*/
    .request-section {
        background-image: none;
        min-height: 670px;
        margin-top: -56px;
    }
    .request-section h6 {
        font-size: 24px;
        width: 100%;
        background-color: #6bc9bd;
        min-height: 76px;
        padding-top: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0px;
    }
    .background-form {
        width: 100%;
        height: 670px;
    }
    .form-application {
        width: 280px;
        margin-top: 0px;
        padding-top: 19px;
    }
    .form-application fieldset {
        font-size: 14px;
        margin-bottom: 14px;
    }
    .form-application fieldset legend {
        margin-bottom: 9px;
    }
    .input-name input {
        font-size: 14px;
        padding-left: 10px;
        width: 279px;
        height: 35px;
    }
    .input-tel input {
        font-size: 14px;
        padding-left: 10px;
        width: 279px;
        height: 35px;
    }
    .input-email input {
        font-size: 14px;
        padding-left: 10px;
        width: 279px;
        height: 35px;
    }
    .input-sentence select {
        font-size: 14px;
        padding-left: 10px;
        width: 293px;
        height: 35px;
    }
    .select2-selection__rendered {
        width: 263px;
    }
    .select2-results__options {
        font-size: 14px;
    }
    .select2-selection, .select2-selection--single {
        height: 36px !important;
    }
    .select2-selection__rendered {
        height: 36px;
        line-height: 35px !important;
    }
    .select2-selection__arrow b {
        margin-top: 2px !important;
    }
    .input-floor label:not(:last-child) {
        margin-right: 20px;
    }
    fieldset[class^="input-"] textarea {
        width: 279px;
        height: 75px;
        font-size: 14px;
        padding-left: 10px;
        padding-top: 10px;
    }
    .consent-input {
        padding-left: 41px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .consent-input input {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    /*Validatiom-form*/
    fieldset {
        position: relative;
    }
    #tel-error {
        font-size: 12px;
    }
    #name-error {
        font-size: 12px;
    }
    #E-mail-error {
        font-size: 12px;
    }
    #sentense-error {
        font-size: 12px;
    }
    #floor-error {
        font-size: 12px;
    }
    #comment-error {
        font-size: 12px;
    }
    #consent-error {
        font-size: 12px;
    }
    /*Validatiom-form^*/
    .form-button {
        margin-top: 25px;
        width: 153px;
    }
    .form-button button:hover {
        margin-left: -70px;
    }
    .form-button button {
        font-size: 14px;
        letter-spacing: 0.7px;
        width: 153px;
    }
    .form-button button::before {
        width: 153px;
        height: 6px;
        top: 21px;
    }
    /*-----------*/
    .contact-section {
        margin-top: 3px;
        min-height: 394px;
    }
    .contact-section>div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-section div h6 {
        padding-top: 36px;
        margin-top: 0px;
        font-size: 24px;
        width: 280px;
        text-align: center;
        margin-bottom: 29px;
    }
    .contact {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
    }
    .contact-list {
        width: 210px;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    li[class^="contact-item-"] {
        padding-left: 61px;
        margin-bottom: 19px;
    }
    li[class^="contact-item-address"] {
        font-size: 14px;
        width: 188px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    li[class^="contact-item-tel"] {
        font-size: 14px;
        width: 188px;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    li[class^="contact-item-email"] {
        font-size: 14px;
        width: 188px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    #map {
        width: 100%;
        height: 143px;
    }
    /*----------*/
    .main-footer {
        min-height: 69px;
    }
    .centering-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .logo-footer {
        display: none;
    }
    .authorship {
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 185px;
        padding-top: 10px;
        padding-right: 0px;
    }
    .social-list-tablet {
        display: none;
    }
    .background-login {
        width: 100%;
    }
    .form-login {
        width: 280px;
        height: 255px;
        margin-left: auto;
        margin-right: auto;
    }
    .form-login fieldset input {
        width: 100%;
    }
}